@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --placeholderColor: #D6D6D6;
  --textColor: #B7B7B7;
  --primaryColor: #006FEE;
  --uiBorder: #E4E4E7;
  --backgroundPrimary: #F6F7F9;
  --titleColor: rgb(23, 23, 23);
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

html {
  background-color: #F6F7F9;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #2c2c2c;
}
